{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}Карзина {% endblock %}




{% block content %}


<section class="main-content">
  <div class="container">
    <div class="row">
      {% for p in prod %}

      <div class="card">
        <div class="card-horizontal">
            <div class="img-square-wrapper">
                <img class="" src="{{p.product.photo}}" alt="Card image cap">
            </div>
            <div class="card-body">
                <h4 class="card-title"><a href="{% url 'catalog:products' p.product.id %}">{{ p.product.title }}</a></h4>
                <p class="card-text">{{p.product.content}}</p>
                <p class="card-text">{{p.total_price}} рублей общяя цена {{p.quantity}} колличество в корзине</p>

            </div>
        </div>
        <div class="card-footer product-bottom-details d-flex justify-content-between">
          
          <form  method="post" action="{% url 'cart:cart_remove' p.product.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Удалить</button>
          </form>


          
            
            <form  method="post" action="{% url 'cart:cart_add' p.product.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">+1</button>
            </form>
         



        </div>
      </div>
      <p></p>
      {% endfor %}
      <div class="card-footer ">
        <p></p>
        <h2>Итоговая стоимость {{prod.get_total_price}} рублей</h2>
        <form  method="post" action="{% url 'cart:order' %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Оформить заказ</button>
        </form>
      </div>
      
      
      
      
      
    
      
    </div>
  </div>
</section>

{% endblock %}




