{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}Личные данные{% endblock %}

{% block content %}

<section class="main-content">
    <div class="container">
        {% if user.first_name and user.last_name %}
        <h2>Здравствуйте {{ user.last_name }} {{ user.first_name }}</h2>
        {% else %}
        <h2>Здравствуйте {{ user.username }}</h2>
        {% endif %}
        {% for i in bascet %}
            
        
        
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                Сумма заказа {{i.total_price}} рублей
                </div>
                <ul class="list-group list-group-flush">
                    Дата совершения заказа {{i.created_at}}
                </ul>
            </div>
            <p></p>
        {% endfor %}

    </div>

</section>

{% endblock %}