html {
    font-size: 16px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    background-color: #38434c;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 50px 0;
}

a {
    color: #111;
}

a:hover {
    color: #555;
}

.navbar .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    color: #111;
    font-weight: 700;
    text-transform: uppercase;
}


/*Carusel*/

.my-carusel {
    padding: 0;

}

.my-carusel .carousel-item {
    display: flex;
    max-height: 700px;
}

.my-carusel .carousel-item img {
    object-fit: cover;
}

/*Carusel*/

/*cart*/

.product-cart {
    /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06);*/
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.95);
    transition: all .3s;
    background-color: #50555a;
}

/*.product-cart:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.95);
}*/

.product-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
}


.product-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 20px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    height: 60px;
    overflow: hidden;
    text-decoration: none;
}

.product-details h4 a:hover {
 
        color: #241515;
}

.product-details p {
    font-size: 15px;
    margin-bottom: 18px;
    color: #000000;
    height: 44px;
    overflow: hidden;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-price {
    font-style: 18px;
    color: #ee6e73;
    font-weight: 600;
}

.product-price small {
    color: #ccc;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 5px;
}

.product-links a {
    font-size: 20px;
    margin-left: 10px;
}
/*cart*/

.btn-danger a {
    text-decoration: none;
}



